* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

.form {
    margin: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 10px;
}

.section {
    padding: 15px;
}

input {
    display: block;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

label {
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264ae;
}
